@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

html,
body {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.field-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.field-block>* {
    flex: 1 0 50%;
}

.btn {
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.25rem 1.25rem;
    background: none;
    cursor: pointer;

    font-size: 1rem;
}

.btn:hover {
    background: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    padding: 0 1rem;
    background: #232323;

    color: whitesmoke;
    box-shadow: 0 0 3px 3px #353535;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

label {
    font-weight: 700;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='password'] {
    padding: 0.5rem 1rem;
    width: 200px;

    font-size: 1rem;
}

.nav {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.nav>a {
    padding: 0.75rem;
}

.nav>a:hover {
    background: #353535;
}

.highlighted_link {
    background: #353535;
}

.message {
    padding: 0.75rem 2rem;
    border-radius: 0.25rem;
    font-weight: 700;
}

.message.success {
    color: #003a00;
    border: 1px solid #00ab00;
    background: #afff80;
}

.message.failure {
    color: #4e0000;
    border: 1px solid #FF0000;
    background: #ed9b9b;
}